<%= @color %>
<%= @randomWord %>
<%=link_to "Back", root_path %>
<div>
<% @images[0..4].each do |image| %>
<a href="<%= image["pageURL"]%>">
<img src="<%= image["webformatURL"] %>">
</a>
<% end %>
</div>
